<div class="row">
  <div class="document-nav-wrapper">
    <div class="col-xs-12 text-center">
      <ul class="document-nav list-inline">
        <li class="document-link">
          <a href="/blog">All</a>
        </li>/
        <li class="document-link">
          <a href="/blog/notes">Notes</a>
        </li>/
        <li class="document-link">
          <a href="/blog/music">Music</a>
        </li>/
        <li class="document-link">
          <a href="/blog/performance">Performance</a>
        </li>
      </ul>
    </div>
  </div>
</div>