<div class="container">
	<div class="row">
		<div class="landing-wrapper col-xs-12">
			<div class="title-wrapper col-xs-12">
				<svg width="415" height="160">
					<pattern id="pattern" patternUnits="userSpaceOnUse"
		             width="200" height="300" viewbox="0 0 200 300">
					 <image xlink:href="images/jp-palms.jpg" width="200" height="300" />
					</pattern>
	        		<text style="fill: url(#pattern);" x="0" y="150">Jon Porras</text>
	      		</svg>
      		</div>
			<ul>
				<a href=""><li class="link">Music</li></a>
				<a href=""><li>Web Development</li></a>
			</ul>
		</div>
	</div>
</div>