<div class="container-fluid">
	<div class="row splash-page">
		<div class="landing-wrapper col-xs-12">
<!-- 			<a href="/music">
				<div class="title-wrapper col-xs-12">
					<svg width="335" height="160">
						<pattern id="pattern" patternUnits="userSpaceOnUse"
			             width="200" height="300" viewbox="0 0 200 300">
						 <image xlink:href="images/jp-sky.jpg" width="200" height="300" />
						</pattern>
        		<text style="fill: url(#pattern);" x="0" y="150">Jon Porras</text>
		      </svg>
		      <h1 class="title-text">Jon Porras</h1>
	      </div>
      </a> -->
			<ul>
				<!-- <a href="/music"><li class="link">Music</li></a>
				<a href="/webdevelopment"><li>Web Development</li></a> -->
			</ul>
		</div>
<!-- 		<div class="quote-wrapper col-xs-12">
		</div> -->
	</div>
	<%- partial ('documents.ejs') %>
</div>