<!DOCTYPE html>
<html>
  <head>
    <title>Jon Porras</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="New release Tokonoma from artist Jon Porras coming soon on Geographic North.">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/development-styles.css">
    <link rel="stylesheet" href="/styles/documents-styles.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/landing-page-style.css">
    <link rel="stylesheet" href="/styles/master-style.css">
    <link rel="stylesheet" href="/styles/music-style.css">
    <link rel="stylesheet" href="/styles/nav-styles.css">
    <link rel="stylesheet" href="/styles/tokonoma-promo-landing-page.css">
    <!--STYLES END-->

    <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("be20a1da565ee2ef5d6737618ed36a03");</script><!-- end Mixpanel -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NCHXC97');</script>
    <!-- End Google Tag Manager -->

  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCHXC97"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%- body %>
    <div class="user-forms">
        <h1>Login</h1>
        <form method="POST" action="/login">
            <input type="email" name="email">
            <input type="password" name="password">
            <input type="submit" value="submit">
        </form>

        <h1>Signup</h1>
        <form action="/subscribe" method="POST" id="payment-form">
            <span class="payment-errors"></span>
            <span>Full Name</span>
            <input type="text" name="name" data-stripe="name">
            <span>Address Line 1</span>
            <input type="text" name="address_line1" data-stripe="address_line1">
            <span>Address Line 2</span>
            <input type="text" name="address_line2" data-stripe="address_line2">
            <span>City</span>
            <input type="text" name="address_city" data-stripe="address_city">
            <span>State</span>
            <input type="text" name="address_state" data-stripe="address_state">
            <span>Zip</span>
            <input type="text" name="address_zip" data-stripe="address_zip">
            <span>Country</span>
            <input type="text" name="address_country" data-stripe="address_country">
            <span>Email</span>
            <input type="email" name="email" data-stripe="email">
            <span>Password</span>
            <input type="password" name="password">
            <div class="form-row">
            <label>
              <span>Card Number</span>
              <input type="text" size="20" data-stripe="number"/>
            </label>
            </div>

            <div class="form-row">
            <label>
              <span>CVC</span>
              <input type="text" size="4" data-stripe="cvc"/>
            </label>
            </div>

            <div class="form-row">
            <label>
              <span>Expiration (MM/YYYY)</span>
              <input type="text" size="2" data-stripe="exp-month"/>
            </label>
            <span> / </span>
            <input type="text" size="4" data-stripe="exp-year"/>
            </div>

            <button type="submit">Submit Payment</button>
        </form>
        <% if(req.user){ %>
            <p><%= req.user.email %></p>
        <% } %>
    </div>
    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->
    
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/debussy.js"></script>
    <script src="/js/landing-page-title-flicker.js"></script>
    <script src="/js/music.js"></script>
    <script src="/js/nav.js"></script>
    <!-- <script src="/js/social-media-buttons.js"></script> -->
    <!--SCRIPTS END-->

    <!-- Stripe Logic -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
    window.onload = function() {
        // This identifies your website in the createToken call below
        Stripe.setPublishableKey('pk_test_0ni9O9IZpwmgDy3EhYUQ2drx');
        // ...
        function stripeResponseHandler(status, response) {
            var form = $('#payment-form');

            if (response.error) {
                // Show the errors on the form
                form.find('.payment-errors').text(response.error.message);
                form.find('button').prop('disabled', false);
                } else {
                // response contains id and card, which contains additional card details
                var token = response.id;
                console.log(token);
                // Insert the token into the form so it gets submitted to the server
                form.append($('<input type="hidden" name="stripeToken" />').val(token));
                // and submit
                form.get(0).submit();
            }
        };
        
        $('#payment-form').submit(function(event) {
            var form = $(this);
            
            // Disable the submit button to prevent repeated clicks
            form.find('button').prop('disabled', true);

            Stripe.card.createToken(form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
        });
    };
    </script>
  </body>
</html>
