<div class="live-photo-landing-page-wrapper">
	<div class="vota-landing-wrapper">
		<img src="images/JP_square.jpg">
		<h3>New Album, <a href="http://www.badabingrecords.com/jon-porras/">Voices of the Air</a>, out now.</h3>
		<a target="_blank" class="vota-cta" href="https://badabingrecords.bandcamp.com/album/voices-of-the-air">LP / CD</a>
		<a target="_blank" class="vota-cta" href="https://itunes.apple.com/us/album/voices-of-the-air/1436329409">iTunes</a>
		<a target="_blank" class="vota-cta" href="https://open.spotify.com/album/0xygvqzPEqelaG2kUJG3iY">Spotify</a>
		<a target="_blank" class="vota-cta" href="https://badabingrecords.bandcamp.com/album/voices-of-the-air">Bandcamp</a>
	</div>
	<img src="images/jon-porras-live-zdb-lisbon.png" class="live-photo-landing-page-img">
	<a href="http://mi-careme.tumblr.com" class="live-photo-caption" target="_blank">Lais Pereira</a>
	<div class="live-photo-landing-page-section-wrapper">
		<div id="mc_embed_signup" class="tokonoma-page-mailchimp-wrapper">
		    <form action="//jonporras.us11.list-manage.com/subscribe/post?u=1acc67906d421301f3e32ca0e&amp;id=1eb46217d8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" validate>
		        <div id="mc_embed_signup_scroll">
		        <p class="live-photo-landing-page-mailchimp-cta-text">Get updates on upcoming releases, live performances and access to unreleased work.</p>
		        <div class="mc-field-group">
		            <input type="email" value="" name="EMAIL" class="required email mail-chimp-input" id="mce-EMAIL" placeholder="Email">
		        </div>
		        <div id="mce-responses" class="clear">
		            <div class="response" id="mce-error-response" style="display:none"></div>
		            <div class="response" id="mce-success-response" style="display:none"></div>
		        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		        <div style="position: absolute; left: -5000px;"><input type="text" name="b_1acc67906d421301f3e32ca0e_1eb46217d8" tabindex="-1" value=""></div>
		        <div class="clear"><input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button mail-chimp-button"></div>
		        </div>
		    </form>
		</div>
		<!--End mc_embed_signup-->
		<div class="tokonoma-page-social-wrapper">
		  <a class="tokonoma-page-social-button" href="https://instagram.com/jonporras/" target="_blank">Instagram</a>
		  <a class="tokonoma-page-social-button" href="https://open.spotify.com/artist/0FDxPN4OkExGczv8cRTAZx" target="_blank">Spotify</a>
		  <a class="tokonoma-page-social-button" href="https://facebook.com/jonporrasmusic" target="_blank">Facebook</a>
		  <a class="tokonoma-page-social-button" href="mailto:info@jonporras.com">Email</a>
		</div>
	</div>
	<div id="liveDates" class="live-photo-landing-page-section-wrapper">
		<h3 class="live-photo-landing-page-section-header">Live Dates</h3>
		<h4 class="live-photo-landing-page-section-sub-header">2019</h4>
		<p class="live-photo-landing-page-date">03.14 - Worm, Rotterdam, Netherlands</p>
		<p class="live-photo-landing-page-date">03.22 - Le Bourg, Lausanne, Switzerland</p>
		<p class="live-photo-landing-page-date">03.24 - L'aureale Bethencourt, Tinques, France</p>
		<p class="live-photo-landing-page-date">03.26 - Le Vent Se Leve, Paris, France</p>
		<h4 class="live-photo-landing-page-section-sub-header">2018</h4>
	    <p class="live-photo-landing-page-date">03.06 - La FINE, Rome, Italy</p>
	    <p class="live-photo-landing-page-date">03.04 - LAS , Poznan, Poland</p>
	    <p class="live-photo-landing-page-date">03.03 - Pracht, Leipzig, Germany</p>
	    <p class="live-photo-landing-page-date">03.02 - Weltecho, Chemnitz, Germany</p>
	    <p class="live-photo-landing-page-date">03.01 - Studio Alta, Prague, Czech Republic</p>
	    <p class="live-photo-landing-page-date">02.28 - Zukunft am Ostkreuz, Berlin, Germany</p>
	    <p class="live-photo-landing-page-date">02.27 - WORM Rotterdam, Rotterdam, Netherlands</p>
	    <p class="live-photo-landing-page-date">02.26 - De Ruimte, Amsterdam, Netherlands</p>
	    <p class="live-photo-landing-page-date">02.25 - L'Aureole, Bethencourt, France</p>
	    <p class="live-photo-landing-page-date">02.24 - Sonic, Lyon, France</p>
	    <p class="live-photo-landing-page-date">02.22 - Galeria Zé dos Bois, Lisbon, Portugal</p>
	    <h4 class="live-photo-landing-page-section-sub-header">2017</h4>
	    <p class="live-photo-landing-page-date">12.17 - Zebulon, Los Angeles, California</p>
	    <p class="live-photo-landing-page-date">09.14 - H0l0, Ridgewood, Queens</p>
	    <p class="live-photo-landing-page-date">09.09 - Casa Del Popolo, Montreal, Quebec</p>
	    <p class="live-photo-landing-page-date">09.08 - Good Room, Brooklyn, New York</p>
	</div>
	<div class="live-photo-landing-page-section-wrapper press">
		<h3 id="press" class="live-photo-landing-page-section-header press">Press</h3>
		<a class="live-photo-landing-page-press-link" target="_blank" href="http://brainwashed.com/index.php?option=com_content&view=article&id=11789:jon-porras-qvoice-of-the-airq&catid=13:albums-and-singles&Itemid=133">"Voice of the Air feels like a very contemporary and sincere attempt to create an immersive and hallucinatory soundtrack rooted in the here and now.  This is an excellent and inspired album." -Brainwashed</a>
		<a class="live-photo-landing-page-press-link" target="_blank" href="https://pitchfork.com/reviews/albums/19089-jon-porras-light-divide/">"...refracts and then reorders...creating more of a mirage than a mere collage...mesmerizing details..." -Pitchfork</a>
		<a class="live-photo-landing-page-press-link" target="_blank" href="http://thequietus.com/articles/23668-tape-column-november-jeff-t-byrd-macho-blush-jon-porras-max-eilbacher-geographic-north">"This is the warmest and lushest music of Porras’ career." -Quietus</a>
		<a class="live-photo-landing-page-press-link" target="_blank" href="https://www.fluid-radio.co.uk/2017/12/jon-porras-tokonoma/">"Snappy and bright notes shine out from the record at once, instantly rewarding the listener." -Fluid Radio</a>
	</div>
</div>
<p class="live-photo-landing-page-footer">&#9400; 2019</p>
<script type="text/javascript">
	if (window.addEventListener) {
	// W3C standard
	window.addEventListener('load', loadTracking, false); // NB **not** 'onload'
	} else if (window.attachEvent) {
	// Microsoft
	window.attachEvent('onload', loadTracking);
	}

	function loadTracking () {
		window.mixpanel.track('Live Photo Landing Page View');
	}
</script>
