<div class="tokonoma-page-container">
  <div class="tokonoma-page-splash-wrapper">
    <h1 class="tokonoma-page-header">Tokonoma</h1>
    <h3 class="tokonoma-page-sub-header">New work from artist Jon Porras. <br>Coming soon from <a href="http://www.geographic-north.com/" target="_blank">Geographic North</a>.</h3>
    <audio src="/audio/generative-counterpoint.wav" controls controlsList="nodownload">
    Your browser does not support the <code>audio</code> element.
    </audio>
  </div>
  <div class="tokonoma-page-photo-wrapper one">
    <img class="tokonoma-page-photo" src="/images/jp-photo02.jpg">
  </div>
  <div class="tokonoma-page-photo-wrapper two">
    <img class="tokonoma-page-photo" src="/images/jp-photo01.jpg">
  </div>
  <div class="tokonoma-page-photo-wrapper three">
    <img class="tokonoma-page-photo" src="/images/jp-photo03.jpg">
  </div>
  <div class="tokonoma-page-artist-bio-wrapper">
    <h4 class="tokonoma-page-artist-bio-header">Artist Bio:</h4>
    <p class="tokonoma-page-artist-bio">
      Jon Porras is an NYC artist who has made immersive experimental music for over a decade. He has published a wide range of audio works with Geographic North, Important Records, <a href="http://rootstrata.com/release/RS83" target="_blank">Root Strata</a> and <a href="https://www.thrilljockey.com/artists/jon-porras" target="_blank">Thrill Jockey Records</a>. His work has been featured in <a href="https://pitchfork.com/reviews/albums/19089-jon-porras-light-divide/" target="_blank">Pitchfork</a>, The Wire, and Vice Magazine. He has performed extensively throughout North America and Europe and has collaborated with musicians Evan Caminiti (as Barn Owl), Jefre Cantu-Ledesma, Ellen Fullman, Stephen O’Malley, Jacob Felix Heule, and visual artists Paul Clipson and Wilhelm Sasnal. He was born in Long Beach, California and lives in Brooklyn, New York.
    </p>
  </div>
</div>