<div class="tokonoma-page-container">
  <div class="tokonoma-page-splash-wrapper">
    <h1 class="tokonoma-page-header">Tokonoma</h1>
    <h3 class="tokonoma-page-sub-header">New work from artist Jon Porras. <br>Coming soon on <a href="http://www.geographic-north.com/" target="_blank">Geographic North</a>.</h3>
    <p class="tokonoma-page-listen-message">Listen to <b>'Generative Counterpoint'</b>:</p>
    <audio src="/audio/generative-counterpoint.wav" controls controlsList="nodownload">
    Your browser does not support the <code>audio</code> element.
    </audio>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup" class="tokonoma-page-mailchimp-wrapper">
        <form action="//jonporras.us11.list-manage.com/subscribe/post?u=1acc67906d421301f3e32ca0e&amp;id=1eb46217d8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" validate>
            <div id="mc_embed_signup_scroll">
            <p>Get updates on upcoming releases, live performances and access to unreleased work.</p>
            <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email mail-chimp-input" id="mce-EMAIL" placeholder="Email">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_1acc67906d421301f3e32ca0e_1eb46217d8" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button mail-chimp-button"></div>
            </div>
        </form>
    </div>
    <!--End mc_embed_signup-->
    <div class="tokonoma-page-social-wrapper">
      <a class="tokonoma-page-social-button" href="https://instagram.com/jonporras/" target="_blank">Instagram</a>
      <a class="tokonoma-page-social-button" href="https://open.spotify.com/artist/0FDxPN4OkExGczv8cRTAZx" target="_blank">Spotify</a>
      <a class="tokonoma-page-social-button" href="https://facebook.com/jonporrasmusic" target="_blank">Facebook</a>
      <a class="tokonoma-page-social-button" href="mailto:info@jonporras.com">Email</a>
    </div>

  </div>
  <div class="tokonoma-page-photo-wrapper one">
    <img class="tokonoma-page-photo" src="/images/jp-photo02.jpg">
  </div>
  <div class="tokonoma-page-photo-wrapper two">
    <img class="tokonoma-page-photo" src="/images/jp-photo01.jpg">
  </div>
  <div class="tokonoma-page-photo-wrapper three">
    <img class="tokonoma-page-photo" src="/images/jp-photo03.jpg">
  </div>
  <div class="tokonoma-page-performances-wrapper">
    <h4 class="tokonoma-page-performances-header">Upcoming Performances:</h4>
    <div class="tokonoma-page-performance-date-wrapper">
      <p class="tokonoma-page-performance-date">
        <p class="tokonoma-page-performance-lead">
          <a href="https://www.facebook.com/events/1454810511242494" target="_blank">November 8th, 2017</a> @ <a href="http://www.goodroombk.com/" target="_blank">Good Room</a>
        </p>
        <p>Brooklyn, NY</p>
        <p><a href="http://www.ticketfly.com/purchase/event/1527732" target="_blank">Tickets</a></p>
        <p><a href="https://www.facebook.com/events/1454810511242494" target="_blank">Info</a></p>
    </div>
    <div class="tokonoma-page-performance-date-wrapper">
      <p class="tokonoma-page-performance-date">
        <p class="tokonoma-page-performance-lead"><a href="https://www.facebook.com/events/1976714722607133" target="_blank">November 9th, 2017</a> @ <a href="https://casadelpopolo.com/en/shows/jon-porras-gregg-kowalsky-invitees/" target="_blank">Casa Del Popolo</a>
        </p>
        <p>Montreal, QC</p>
        <p><a href="https://www.lfttckt.com/tickets/lfttkt-casa-1502739646-20352" target="_blank">Tickets</a></p>
        <p><a href="https://www.facebook.com/events/1976714722607133" target="_blank">Info</a></p>
    </div>
    <div class="tokonoma-page-performance-date-wrapper">
      <p class="tokonoma-page-performance-date">
        <p class="tokonoma-page-performance-lead"><a href="https://www.facebook.com/events/760905397432875/" target="_blank">December 17th, 2017</a> @ <a href="http://zebulon.la/" target="_blank">Zebulon</a>
        </p>
        <p>Los Angeles, CA</p>
        <p><a href="http://www.ticketfly.com/event/1581179-jon-porras-gregg-kowalsky-los-angeles/" target="_blank">Tickets</a></p>
        <p><a href="https://www.facebook.com/events/760905397432875/" target="_blank">Info</a></p>
    </div>
  </div>
  <div class="tokonoma-page-artist-bio-wrapper">
    <h4 class="tokonoma-page-artist-bio-header">Artist Bio:</h4>
    <p class="tokonoma-page-artist-bio">
      Jon Porras is an NYC artist who has made immersive experimental music for over a decade. He has published a wide range of audio works with Geographic North, Important Records, <a href="http://rootstrata.com/release/RS83" target="_blank">Root Strata</a> and <a href="https://www.thrilljockey.com/artists/jon-porras" target="_blank">Thrill Jockey Records</a>. His work has been featured in <a href="https://pitchfork.com/reviews/albums/19089-jon-porras-light-divide/" target="_blank">Pitchfork</a>, The Wire, and Vice Magazine. He has performed extensively throughout North America and Europe and has collaborated with musicians Evan Caminiti (as Barn Owl), Jefre Cantu-Ledesma, Ellen Fullman, Stephen O’Malley, Jacob Felix Heule, and visual artists Paul Clipson and Wilhelm Sasnal. He was born in Long Beach, California and lives in Brooklyn, New York.
    </p>
  </div>
</div>
<script type="text/javascript">
  function trackPageView () {
    window.mixpanel.track('Tokonoma Landing Page View');
    var media = document.getElementsByTagName("audio")[0];
    media.addEventListener('playing', function() {
      window.mixpanel.track('Tokonoma Sound Sample Play');
    });
  }
  if (window.addEventListener) {
    // W3C standard
    window.addEventListener('load', trackPageView, false); // NB **not** 'onload'
  } else if (window.attachEvent) {
    // Microsoft
    window.attachEvent('onload', trackPageView);
  }
</script>