<div class="vota-page-wrapper">
	<div class="vota-info-wrapper">
		<div class="vota-album-photo-wrapper">
			<img class="vota-album-img front" src="/images/vota-front.png">
			<img class="vota-album-img back" src="/images/vota-back.png">
		</div>
		<div class="vota-album-text-wrapper">
			<h2 class="vota-album-title">Voices of the Air <span>(44:42min)</span></h2>
			<p class="vota-album-text">Voices of the Air is the newest album from exploratory artist Jon Porras. As a follow-up to last year's <a href="/tokonoma">Tokonoma</a>, Porras presents a contemplative collection of devotional compositions for impossible ensembles. Sculpted from pure waveforms, wavetable synthesis, artificial and human voices—transformed, fragmented, and recycled with custom software and outboard effects, Voices of the Air was produced alongside Al Carlson at Gary's Electric Studio in February 2018.</p>
			<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/444779154%3Fsecret_token%3Ds-8LGYL&amp;color=%233e444e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
		</div>
	</div>
</div>
<div class="shield">
	<p>ENTER PASSWORD</p>
	<input id="passwordInput" type="password" name="">
	<button id="passwordSubmit">Submit</button>
</div>
<script type="text/javascript">
	var shieldOn = true,
		submitButton = document.querySelector('#passwordSubmit'),
		input = document.querySelector('#passwordInput'),
		pageWrapper = document.querySelector('.vota-page-wrapper'),
		shield = document.querySelector('.shield');


	if (shieldOn) {
		submitButton.addEventListener('click', function() {
			if (input.value === 'voice123') {
				pageWrapper.style.display = 'block';
				shield.style.display = 'none';
				window.mixpanel.track('VOTA Password Entered');
			} else {
				window.alert('Incorrect password.');
				window.mixpanel.track('VOTA Incorrect Password');
			}
		});

		input.addEventListener("keydown", function (e) {
		    if (e.keyCode === 13) {
		        if (input.value === 'voice123') {
					pageWrapper.style.display = 'block';
					shield.style.display = 'none';
					window.mixpanel.track('VOTA Password Entered');
				} else {
					window.alert('Incorrect password.');
					window.mixpanel.track('VOTA Incorrect Password');
				}
		    }
		});
	} else {
		pageWrapper.style.display = 'block';
		shield.style.display = 'none';
	}

	if (window.addEventListener) {
	// W3C standard
	window.addEventListener('load', loadTracking, false); // NB **not** 'onload'
	} else if (window.attachEvent) {
	// Microsoft
	window.attachEvent('onload', loadTracking);
	}

	function loadTracking () {
		window.mixpanel.track('VOTA Landing Page View');
	}
</script>