<div class="vota-page-wrapper">
	<div class="vota-info-wrapper">
		<div class="vota-album-photo-wrapper">
			<img class="vota-album-img" src="/images/vota-front.png">
			<img class="vota-album-img" src="/images/vota-back.png">
		</div>
		<h2 class="vota-album-title">Voices of the Air (44:42min)</h2>
		<h2 class="vota-album-title">Jon Porras</h2>
		<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/444779154%3Fsecret_token%3Ds-8LGYL&amp;color=%233e444e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
		<div class="vota-album-text-wrapper">
			<p class="vota-album-text">Mixed with Al Carlson at Mexican Summer's Studio A.</p>
		</div>
	</div>
</div>