
<div class="winter-tour-tokonoma-wrapper">
	<p class="tokonoma-page-on-tour"><a href="#onTour">ON TOUR</a></p>
	<p class="tokonoma-page-on-tour"><a href="/tokonoma">New album TOKONOMA</a></p>
	<a href="/tokonoma"><img class="winter-tour-photo" src="/images/jp-photo01.jpg"></a>
	<div id="onTour" class="winter-tour-song-kick-wrapper">
		<a href="http://www.songkick.com/artists/3105386" class="songkick-widget" data-theme="light" data-track-button="on" data-detect-style="true" data-font-color="#fff" data-background-color="#D5AC87">Jon Porras tour dates</a>
		<script src="//widget.songkick.com/widget.js"></script>
	</div>
</div>