.document-wrapper {
  padding: 25px;
}

.document-text-wrapper {
  padding-top: 55px;
}

.document-header {
  margin: 0 0 10px 0;
}

.document-sub-header {
  margin: 0;
  line-height: 17px;
}

a {
  color: black;
}

a:hover {
  color: black;
}

/* document show page */

.document-show-header-img {
  width: 100%;
}

.document-title {
  margin-bottom: 10px;
}

.document-category, .document-date {
  margin: 0;
  line-height: 17px;
}

.document-body {
  margin-top: 22px;
}

.document-nav-wrapper {
  margin: 50px 0 30px 0;
}
