.document-wrapper {
  padding: 25px;
}

.documents-section-wrapper {
  padding-top: 65px;
}

.document-text-wrapper {
  padding-top: 55px;
}

.document-header {
  margin: 0 0 10px 0;
}

.document-sub-header {
  margin: 0;
  line-height: 17px;
}

a {
  color: black;
}

a:hover {
  color: black;
}

/* document show page */

.document-show-wrapper {
  padding-top: 65px;
}

.document-show-header-img {
  width: 100%;
}

.document-title {
  margin-bottom: 10px;
}

.document-category, .document-date {
  margin: 0;
  line-height: 17px;
}

.document-body {
  margin-top: 22px;
}

.document-nav-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  width: 295px;
  margin-right: auto;
  margin-left: auto;
  z-index: 10000;
  padding-top: 13px;
}
