div.landing-wrapper {
	padding-top: 145px;
	position: relative;
  display: none;
}

div.landing-wrapper div.title-wrapper {
	text-align: center;
}

div.landing-wrapper ul {
	list-style-type: none;
  	text-align: left;
  	position: absolute;
  	left: 50%;
  	top: 308px;
    transform: translate(-18.5%, 0);
  	min-width: 220px;
}

div.landing-wrapper ul li {
  	font-size: 19px;
  	color: black;
}

div.landing-wrapper ul a:hover {
	text-decoration: none;
}

text {
	fill: url(#pattern);
	font-size: 55px;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
}

.quote-wrapper {
  text-align: center;
  padding-top: 12px;
  display: none;
}

.quote-wrapper p {
  margin: 0px;
}

.temp-landing-page-img {
  display: block;
  position: absolute;
  left: 0;
  position: fixed;
  bottom: -55px;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.temp-landing-page-text {
  display: block;
  position: fixed;
  top: 20px;
  right: 25px;
  font-size: 25px;
  z-index: 10;
  color: #fff;
  letter-spacing: 3px;
}

.temp-landing-page-text.cta {
  left: 25px;
}

@media (max-width: 767px) {
  text {
    font-size: 50px;
  }

  svg {
    width: 305px;
  }

  .temp-landing-page-text {
    left: 25px;
    top: 60px;
    font-size: 20px;
  }
  .temp-landing-page-text.cta {
    top: 20px;
  }
}