div.landing-wrapper {
	padding-top: 145px;
	position: relative;
}

div.landing-wrapper div.title-wrapper {
	text-align: center;
}

div.landing-wrapper ul {
	list-style-type: none;
  	text-align: left;
  	position: absolute;
  	left: 49.5%;
  	top: 308px;
    transform: translate(-24.5%, 0);
  	min-width: 220px;
}

div.landing-wrapper ul li {
  	font-size: 19px;
  	color: black;
}

div.landing-wrapper ul a:hover {
	text-decoration: none;
}

text {
	fill: url(#pattern);
	font-size: 63px;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	/* text-align: center; */
  	font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
}