.live-photo-landing-page-wrapper {
	width: 100%;
	max-width: 800px;
    padding: 100px 10px;
    margin: 0 auto;
}

.live-photo-landing-page-img {
	width: 100%;
}

.live-photo-caption {
	text-align: right;
	display: block;
	text-transform: uppercase;
	font-size: 8px;
	color: #999;
	cursor: pointer;
}

.simple-nav-wrapper {
    position: fixed;
    top: 20px;
    right: 28px;
    text-transform: uppercase;
    z-index: 10;
}

.simple-nav-item {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	text-align: center;
	line-height: 20px;
	font-size: 18px;
}

.simple-nav-item a {
	color: #D5AC87;
	cursor: pointer;
}

.live-photo-landing-page-social-wrapper .tokonoma-page-mailchimp-wrapper {
	max-width: 410px;
	margin: 0 auto;
}

.live-photo-landing-page-social-wrapper p {
	font-family: Arial, Helvetica, sans-serif;
	color: #D5AC87;
}

.live-photo-landing-page-section-wrapper {
	text-align: center;
	margin: 200px 0;
}

.live-photo-landing-page-section-wrapper h3,
.live-photo-landing-page-section-wrapper h4,
.live-photo-landing-page-section-wrapper p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #D5AC87;
}

.live-photo-landing-page-section-header {
	margin-bottom: 40px;
	text-transform: uppercase;
}

.live-photo-landing-page-section-sub-header {
	margin: 40px 0;
}

.live-photo-landing-page-mailchimp-cta-text {
	max-width: 410px;
	margin: 0 auto 10px;
}

.live-photo-landing-page-section-wrapper.press {
	max-width: 410px;
	margin-left: auto;
	margin-right: auto;
}

.live-photo-landing-page-press-link {
	display: block;
	color: #D5AC87;
	margin: 30px 0;
	font-size: 16px;
}

.live-photo-landing-page-press-link:hover {
	color: #000;
}

.live-photo-landing-page-footer {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #D5AC87;
}

@media (max-width: 768px) {
	.simple-nav-wrapper {
		position: relative;
		top: 0;
		right: 0;
		padding-top: 25px;
	}

	.live-photo-landing-page-wrapper {
		margin-bottom: 100px;
	}

	.live-photo-landing-page-section-wrapper {
		margin: 100px 0;
	}
}