html, body, div.page-wrapper {
	height: 100%;
}


div.user-forms {
	display: none;
}

h1, h2, h3, li {
	/*font-family: Futura,"Trebuchet MS",Arial,sans-serif;*/
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	letter-spacing: 2px;
	font-weight: lighter;
}

h4, h5, h6 {
	font-weight: 200;
}

p {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	letter-spacing: 2px;
}

/*div.menu div.social-wrapper {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
}*/

div.page-body{
	min-height: 88%;
  	padding-top: 55px;
}

div.footer {
	text-align: center;
	padding-top: 52px;
}

.page-wrapper {
	display: none;
}
