html, body, div.page-wrapper {
	height: 100%;
}


div.user-forms {
	display: none;
}

h1, h2, h3, h4, h5, h6, li {
	font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
	letter-spacing: 1px;
}

p {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	letter-spacing: 1px;
}

div.page-body{
	min-height: 88%;
  	padding-top: 55px;
}

div.footer {
	text-align: center;
	padding-top: 52px;
}

.page-wrapper {
	display: none;
}