div.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 45px;
  background-color: rgb(255, 255, 255);
}

/* **** Nav Menu Button **** */

div.nav #nav-menu-icon {
  width: 37px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  margin-left: 20px;
  margin-top: 10px;
}

div.nav #nav-menu-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-menu-icon span:nth-child(1) {
  top: 5px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-menu-icon span:nth-child(2) {
  top: 13px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-menu-icon span:nth-child(3) {
  top: 21px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-menu-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 2px;
  left: 8px;
}

#nav-menu-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 28px;
  left: 8px;
}

/* **** End Nav Menu Button **** */

/* **** 1/2 Page Menu **** */
div.menu {
  display: none;
  padding: 36px 0 0 13px;
  width: 50%;
  min-width: 285px;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 9;
}

div.menu h2 a {
  color: #000000;
}

div.menu a {
  max-width: 250px;
  display: inline-block;
}

div.menu h2 a.current-link {
  text-decoration: underline;
}

/* **** 1/2 Page Menu end **** */

div.nav span.nav-arrow {
  background-image: url('../images/arrow.png');
  top: -15px;
  left: 49.5%;
  position: fixed;
  z-index: 10;
  height: 21px;
  width: 83px;
  background-position: -181px -317px;
  transform: rotate(89deg);
  margin-left: -40px;
  cursor: pointer;
  display: none;
}

div.nav div.spotify-follow-wrapper {
  text-align: center;
}

div.page-body {
  padding-top: 35px;
}

div.page-body iframe.spotify-follow {
  text-align: right;
}

h2.solo-header, h2.collab-header, h2.performance-header {
  cursor: pointer;
}


div.music-solo-section {
  display: none;
}

div.music-collab-section {
  display: none;
}

div.album-wrapper {
	padding-top: 15px;
}

div.album-wrapper img {
	width: 100%;
}

div.album-wrapper img.album-cover {
  cursor: pointer;
}

div.album-wrapper img.inner-album-cover {
	max-width: 290px;
}

div.album-wrapper div.album-data {
	display: none;
  position: fixed;
  z-index: 10;
  top: 8%;
  width: 65%;
  background-color: rgba(255, 255, 255, 1);
  left: 50%;
  margin: 0 0 0 -32.5%;
  text-align: center;
  padding: 35px;
}

div.album-wrapper div.album-data span.close-button {
  position: absolute;
  left: 94%;
  top: 8px;
  transform: translate(-25%, 0);
  font-size: 25px;
  cursor: pointer;
}

div.album-wrapper div.album-data h2, div.album-wrapper div.album-data h3 {
  margin: 5px 0;
}

div.album-wrapper div.album-data h2 {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

div.album-wrapper div.album-data h3 {
  font-size: 18px;
}

div.album-wrapper div.album-data p {
  font-family: Times;
  margin: 0;
  line-height: 17px;
}

div.album-wrapper div.album-data div.album-details {
  margin: 10px 0;
}

div.album-wrapper div.album-data iframe.spotify-frame {
  width: 100%;
  max-width: 360px;
  margin-top: 15px;
}

div.music-performance-section {
  display: none;
}

div.music-performance-section div.performance-past-wrapper {

}