div.page-body div.bg-screen {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 9;
  opacity: .8;
}

div.page-body iframe.spotify-follow {
  text-align: right;
}

h2.solo-header, h2.collab-header, h2.performance-header, h2.contact-header {
  cursor: pointer;
  /*text-align: center;*/
}

.performance-header {
  padding-top: 80px;
}

.album-artist {
  text-transform: uppercase;
  display: inline;
  cursor: pointer;
}

.album-title {
  display: inline;
  margin-left: 10px;
  cursor: pointer;
}

.music-list-wrapper {
  margin: 15px;
}

.album-splash-data {
  display: none;
  position: absolute;
}

span.plus {
  display: inline-block;
}

div.music-solo-section {
  display: none;
}

div.music-collab-section {
  display: none;
}

div.album-wrapper {
	padding-top: 15px;
}

div.album-wrapper img {
	width: 100%;
}

div.album-wrapper img.album-cover {
  cursor: pointer;
}

div.album-wrapper img.inner-album-cover {
	max-width: 290px;
}

div.album-wrapper div.album-data {
	display: none;
  position: fixed;
  z-index: 10;
  top: 8%;
  width: 65%;
  max-height: 90%;
  background-color: rgba(255, 255, 255, 1);
  left: 50%;
  margin: 0 0 0 -32.5%;
  text-align: center;
  padding: 35px;
}

div.album-wrapper div.album-data span.close-button {
  position: absolute;
  right: 10px;
  top: 2px;
  font-size: 25px;
  cursor: pointer;
}

div.album-wrapper div.album-data h2, div.album-wrapper div.album-data h3 {
  margin: 5px 0;
}

div.album-wrapper div.album-data h2 {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

div.album-wrapper div.album-data h3 {
  font-size: 18px;
}

div.album-wrapper div.album-data p {
  margin: 0;
  line-height: 13px;
  font-size: 12px;
}

div.album-wrapper div.album-data div.album-details {
  margin: 0px 0 10px 0;
}

div.album-wrapper div.album-data div.album-details p {
  line-height: 14px;
  font-size: 12px;
}

div.album-wrapper div.album-data iframe.spotify-frame {
  width: 100%;
  max-width: 360px;
  margin-top: 15px;
}

/*div.music-performance-section {
  display: none;
}*/

div.music-performance-section div.performance-past-wrapper {

}

.past-header {
  padding-top: 45px;
}

div.music-contact-section {
  display: none;
}