.tokonoma-page-container h1, h3, h4, p {
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

.tokonoma-page-container a {
  color: #BB835B;
}

.tokonoma-page-container {
  position: relative;
  height: 787px;
  max-width: 1500px;
  margin: 0 auto;
}

.tokonoma-page-header {
  text-transform: uppercase;
}

.tokonoma-page-sub-header {
  font-size: 20px;
  margin-top: 0;
}

a.tokonoma-page-buy-button {
  display: inline-block;
  background: #D5AC87;
  border: 1px solid #D5AC87;
  text-transform: uppercase;
  margin: 5px 0 0 0;
  color: white;
  padding: 8px 10px;
  font-size: 18px;
}

.tokonoma-page-buy-button:hover {
  color: #D5AC87;
  background: #fff;
  text-decoration: none;
}

.tokonoma-page-listen-message {
  font-style: italic;
}

.tokonoma-page-splash-wrapper {
  width: 600px;
  position: absolute;
  top: 205px;
  left: 75px;
  z-index: 10;
}

.tokonoma-page-mailchimp-wrapper {
  margin-top: 15px
}

.mail-chimp-button {
  background: #D5AC87;
  border: 1px solid #D5AC87;
  text-transform: uppercase;
  margin-top: 10px;
  width: 151px;
  color: white;
  padding: 5px 0;
  border-radius: 0;
}

.mail-chimp-button:hover {
  color: #D5AC87;
  background: #fff;
}

.mail-chimp-input {
  border: 2px solid #D5AC87;
  min-height: 33px;
}

input.mail-chimp-input::-webkit-input-placeholder {
  color: #D5AC87 !important;
}

input.mail-chimp-input:-moz-placeholder { /* Firefox 18- */
  color: #D5AC87 !important;
}

input.mail-chimp-input::-moz-placeholder {  /* Firefox 19+ */
  color: #D5AC87 !important;
}

input.mail-chimp-input:-ms-input-placeholder {
  color: #D5AC87 !important;
}

.tokonoma-page-social-wrapper {
  margin-top: 13px;
}

a.tokonoma-page-social-button {
  color: #D5AC87;
  display: inline-block;
  border: 1px solid #D5AC87;
  width: 73px;
  padding: 5px 0;
  text-align: center;
  cursor: pointer;
}

.tokonoma-page-social-button:hover {
  background-color: #D5AC87;
  color: #fff;
  text-decoration: none;
}

.tokonoma-page-photo-wrapper {
  width: 42%;
  position: absolute;
}

.tokonoma-page-photo-wrapper.one {
  left: 49%;
  top: 25%;
}

.tokonoma-page-photo-wrapper.two {
  top: 100%;
  left: 6%;
  width: 34%;
}

.tokonoma-page-photo-wrapper.three {
  top: 110%;
  left: 46%;
  width: 52%;
}

.tokonoma-page-photo {
  width: 100%;
}

.tokonoma-page-artist-bio-wrapper {
  width: 31%;
  position: absolute;
  top: 145%;
  left: 6%;
}

.tokonoma-page-artist-bio-header,
.tokonoma-page-performances-header {
  font-size: 14px;
  font-weight: bold;
}

.tokonoma-page-performance-lead {
  font-size: 16px;
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

.tokonoma-page-performances-wrapper {
  position: absolute;
  right: 140px;
  top: 175%;
  text-align: right;
  padding-bottom: 200px;
}

.tokonoma-page-performance-date-wrapper {
  margin-bottom: 15px;
}

.tokonoma-page-performance-date-wrapper p {
  margin: 0;
}

.tokonoma-page-footer {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 315%;
}

@media (max-width: 1200px) {
  .tokonoma-page-artist-bio-wrapper {
    top: 135%;
  }
  .tokonoma-page-performances-wrapper {
    top: 162%;
  }
  .tokonoma-page-footer {
    top: 360%;
  }
}

@media (max-width: 992px) {
  .tokonoma-page-artist-bio-wrapper {
    top: 130%;
  }
  .tokonoma-page-performances-wrapper {
    top: 152%;
  }
  .tokonoma-page-footer {
    top: 400%;
  }
}

@media (max-width: 800px) {
  a.tokonoma-page-buy-button {
    display: block;
    margin: 10px auto;
    max-width: 250px;
  }
  a.tokonoma-page-buy-button.spotify {
    margin-bottom: 55px;
  }
  a.tokonoma-page-buy-button.cassette {
    margin-top: 20px;
  }
  .mail-chimp-input,
  .mail-chimp-button {
    width: 80%;
    max-width: 250px;
  }
  .mail-chimp-button {
    padding: 7px 0;
  }
  .tokonoma-page-social-wrapper {
    width: 80%;
    max-width: 250px;
    margin: 10px auto 0 auto;
  }
  a.tokonoma-page-social-button {
    margin-top: 5px;
    width: 49%;
    padding: 7px 0;
  }
  .tokonoma-page-photo-wrapper.one,
  .tokonoma-page-photo-wrapper.two,
  .tokonoma-page-photo-wrapper.three,
  .tokonoma-page-splash-wrapper,
  .tokonoma-page-artist-bio-wrapper,
  .tokonoma-page-performances-wrapper,
  .tokonoma-page-footer  {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    padding-bottom: 0;
  }
  .tokonoma-page-footer {
    transform: none;
    text-align: center;
  }
  .tokonoma-page-splash-wrapper,
  .tokonoma-page-artist-bio-wrapper,
  .tokonoma-page-performances-wrapper {
    padding: 0 25px;
    text-align: center;
    margin: 90px 0;
  }
  .tokonoma-page-artist-bio-wrapper {
    margin-bottom: 190px;
  }
}

@media (max-width: 400px) {
  .tokonoma-page-splash-wrapper audio {
    width: 100%;
  }
}
