.tokonoma-page-container h1, h3, h4, p {
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

.tokonoma-page-header {
  text-transform: uppercase;
}

.tokonoma-page-sub-header {
  font-size: 20px;
  margin-top: 0;
}

.tokonoma-page-listen-message {
  font-style: italic;
}

.tokonoma-page-splash-wrapper {
  width: 600px;
  position: absolute;
  top: 265px;
  left: 75px;
  z-index: 10;
}

.tokonoma-page-mailchimp-wrapper {
  margin-top: 10px
}

.mail-chimp-button {
  background: #F2D1AA;
  border: 1px solid #F2D1AA;
  text-transform: uppercase;
  margin-top: 10px;
  width: 151px;
  color: white;
}

.mail-chimp-button:hover {
  color: #F2D1AA;
  background: #fff;
}

.mail-chimp-input {
  border: 2px solid #D5AC87;
  min-height: 33px;
}

input.mail-chimp-input::-webkit-input-placeholder {
  color: #D5AC87 !important;
}

input.mail-chimp-input:-moz-placeholder { /* Firefox 18- */
  color: #D5AC87 !important;
}

input.mail-chimp-input::-moz-placeholder {  /* Firefox 19+ */
  color: #D5AC87 !important;
}

input.mail-chimp-input:-ms-input-placeholder {
  color: #D5AC87 !important;
}

.tokonoma-page-photo-wrapper {
  width: 42%;
  position: absolute;
}

.tokonoma-page-photo-wrapper.one {
  left: 49%;
  top: 25%;
}

.tokonoma-page-photo-wrapper.two {
  top: 100%;
  left: 6%;
  width: 34%;
}

.tokonoma-page-photo-wrapper.three {
  top: 110%;
  left: 46%;
  width: 52%;
}

.tokonoma-page-photo {
  width: 100%;
}

.tokonoma-page-artist-bio-wrapper {
  width: 31%;
  position: absolute;
  top: 145%;
  left: 6%;
}

.tokonoma-page-artist-bio-header,
.tokonoma-page-performances-header {
  font-size: 14px;
  font-weight: bold;
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

.tokonoma-page-performances-wrapper {
  position: absolute;
  right: 140px;
  top: 175%;
  text-align: right;
}

.tokonoma-page-performance-date-wrapper {
  margin-bottom: 15px;
}

.tokonoma-page-performance-date-wrapper p {
  margin: 0;
}

@media (max-width: 1200px) {
  .tokonoma-page-artist-bio-wrapper {
    top: 135%;
  }
  .tokonoma-page-performances-wrapper {
    top: 162%;
  }
}

@media (max-width: 992px) {
  .tokonoma-page-artist-bio-wrapper {
    top: 130%;
  }
  .tokonoma-page-performances-wrapper {
    top: 152%;
  }
}

@media (max-width: 800px) {
  .tokonoma-page-photo-wrapper.one,
  .tokonoma-page-photo-wrapper.two,
  .tokonoma-page-photo-wrapper.three,
  .tokonoma-page-splash-wrapper,
  .tokonoma-page-artist-bio-wrapper,
  .tokonoma-page-performances-wrapper {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
  }
  .tokonoma-page-splash-wrapper,
  .tokonoma-page-artist-bio-wrapper,
  .tokonoma-page-performances-wrapper {
    padding: 0 25px;
    text-align: center;
    margin: 90px 0;
  }
}